:root {
  --primary-color: #047aed;
  --primary-color: #1e77e2;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;

  --white: #fff;
  --black: #262626;
  --black: #333;
  --light-gray: #f4f4f4;
  --medium-gray: #ccc;
  --dark-gray: #888;

  --border-color: #e0e0e0;

  --animation-timing: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: var(--black);
}

h1,
h2,
h3 {
  margin: 10px 0;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
  font-size: clamp(2rem, 6vw, 3rem);
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  font-size: clamp(2rem, 6vw, 3rem);
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  font-size: clamp(1.5rem, 5vw, 2rem);
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-gray);
  margin: 10px 0;
}

ul {
  font-size: 1rem;
  font-weight: 400;
  list-style-type: none;
}

a {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--black);
}

img {
  width: 100%;
  height: auto;
}

/* Navbar */
.navbar {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background: var(--white);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .navbar {
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
  }
}

.navbar h1 {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0 12px;
  margin-right: auto;
}

.navbar .menu {
  display: flex;
}

.navbar a {
  padding: 5px 10px;
  margin: 0 5px;
}

/* @supports (-webkit-transition: none) or (transition: none) {
  .navbar a {
    -webkit-transition: -webkit-color 300ms var(--animation-timing);
    transition: color 300ms var(--animation-timing);
  }
} */

.navbar a:hover {
  color: var(--primary-color);
  /* border-bottom: 1px solid var(--black); */
}

.navbar .resume-btn {
  display: none;
}

.menu-btn {
  display: none;
  font-size: 1.2rem;
  padding: 0 12px;
  cursor: pointer;
  /* position: absolute;
  right: 50px; */
}

.menu-btn:hover {
  color: var(--primary-color);
}

/* Showcase */
.showcase {
  min-height: 100vh;
  padding: 70px 0;
}

.showcase-text {
  max-width: 700px;
}

.showcase h1 span {
  color: var(--primary-color);
  white-space: nowrap;
}

.showcase h2 span {
  white-space: nowrap;
}

.showcase p {
  margin: 20px 0;
  font-size: 1.1rem;
  font-size: clamp(1rem, 2.4vw, 1.1rem);
  padding-bottom: 20px;
}

.showcase .btn {
  min-width: 150px;
}

/* Skills */
.skills {
  padding: 75px 0;
  background: var(--light-gray);
}

.skills .flex {
  flex-direction: column;
  justify-content: start;
}

.skills h2 {
  margin-bottom: 60px;
  text-align: center;
}

.skills .grid {
  gap: 0;
  margin-bottom: 30px;
}

.skills .category {
  text-align: center;
  padding: 0 15px;
  border-right: 1px solid var(--medium-gray);
}

.skills .category:last-of-type {
  border-right: none;
}

.skills h3 {
  margin-bottom: 20px;
}

.skills i {
  color: var(--black);
  font-size: 2.5rem;
}

.skills ul {
  color: var(--dark-gray);
}

/* Work */
.work {
  padding: 75px 0;
}

.work .flex {
  flex-direction: column;
}

.work h2 {
  margin-bottom: 20px;
}

.work .project {
  padding-bottom: 100px;
}

.work .project:last-of-type {
  padding-bottom: 30px;
}

.work .container-images {
  grid-column: 2 / span 2;
  grid-row: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

.work .project:nth-of-type(even) .container-images {
  grid-column: 1 / span 2;
}

.work .container-text {
  grid-column: 1 / span 1;
  padding: 20px;
}

.work .project:nth-of-type(even) .container-text {
  grid-column: 3 / span 1;
}

.project-image-lg {
  width: 80%;
}

.project-image-sm {
  position: absolute;
  left: 2%;
  bottom: -15%;
  width: 22%;
}

.project img {
  border-radius: 7.5px;

  -webkit-box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);

  /* -webkit-filter: grayscale(1);
  filter: grayscale(1); */
}

@supports (-webkit-transition: none) or (transition: none) {
  .project img {
    transition: -webkit-filter 400ms ease-in-out, box-shadow 400ms ease-in-out;
    transition: filter 400ms ease-in-out, box-shadow 400ms ease-in-out;
  }
}

.project img:hover {
  box-shadow: 0 16px 60px rgba(0, 0, 0, 0.2);
  -webkit-filter: none;
  filter: none;
}

.work h3 {
  margin-bottom: 20px;
}

.work ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  color: var(--primary-color);
  margin-bottom: 30px;
}

.work li {
  margin-right: 10px;
}

.work .btn {
  min-width: 150px;
}

/* Other Work */

#other-work h2 {
  margin-bottom: 30px;
}

#other-work .grid {
  padding: 40px 0;
}

#other-work .card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#other-work p {
  margin-top: auto;
}

#other-work .btn {
  width: 100%;
}

/* Contact */
.contact {
  padding: 75px 0;
  background: var(--light-gray);
}

.contact .flex {
  flex-direction: column;
}

.contact h2 {
  text-align: center;
}

.contact p {
  text-align: center;
  margin-bottom: 50px;
}

.contact ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.contact li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  white-space: nowrap;
}

.contact ul a {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}

/* @supports (-webkit-transition: none) or (transition: none) {
  .contact ul a {
    -webkit-transition: -webkit-color 300ms var(--animation-timing);
    transition: color 300ms var(--animation-timing);
  }
} */

.contact ul a:hover {
  color: var(--primary-color);
}

.contact ul i {
  font-size: 30px;
  margin-right: 10px;
}

/* Footer */
.footer {
  min-height: 50px;
  padding: 5px 0;
  background: var(--black);
}

.footer p {
  font-size: 0.9rem;
  color: var(--dark-gray);
}

/* Media Queries */
@media (max-width: 900px) {
  /* Navbar */
  .menu-btn {
    display: block;
  }

  .navbar .menu {
    width: 100%;
    height: calc(100vh - 49px);
    /* display: block; */
    /* flex-direction: column; */
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    /* align-items: stretch; */
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 88;
    padding: 25px 50px;
    background: var(--white);

    -webkit-transform: translateX(-600px);
    transform: translateX(-900px);
  }

  @supports (-webkit-transition: none) or (transition: none) {
    .navbar .menu {
      -webkit-transition: -webkit-transform 300ms var(--animation-timing);
      transition: transform 250ms var(--animation-timing);
    }
  }

  /* @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .navbar .menu {
      background: rgba(255, 255, 255, 0.8);
      -webkit-backdrop-filter: saturate(180%) blur(5px);
      backdrop-filter: saturate(180%) blur(5px);
    }
  } */

  .navbar .menu.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .navbar .menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
  }

  .navbar .menu li:nth-child(4),
  .navbar .menu li:last-child {
    border-bottom: none;
  }

  .navbar .menu a {
    padding: 25px 50px;
    letter-spacing: 3px;
  }

  .navbar .resume-btn {
    display: block;
  }

  .navbar .resume-btn a {
    width: 100%;
    max-width: 300px;
    padding: 10px 30px;
  }

  /* Work */
  .work .grid {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .work h2 {
    margin-bottom: 65px;
  }

  .work .project {
    padding-bottom: 120px;
  }

  .work .project:last-of-type {
    padding-bottom: 0;
  }

  .work .container-images,
  .work .project:nth-of-type(even) .container-images {
    grid-column: span 1;
    margin: 0 auto;
  }

  .work .container-text,
  .work .project:nth-of-type(even) .container-text {
    grid-column: span 1;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
  }

  #work ul {
    justify-content: center;
  }

  /* Other work */
  #other-work .grid {
    gap: 40px;
    max-width: 650px;
  }

  #other-work .btn {
    width: 150px;
  }

  /* Contact */
  .contact ul {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }

  .contact li {
    padding: 5px 10px;
  }
}

@media (max-width: 540px) {
  /* Utilities */
  .container {
    padding: 0 35px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  /* Navbar */
  .navbar h1 {
    /* display: none; */
  }

  /* Showcase */
  .showcase h1 {
    text-align: center;
  }

  .showcase h2 {
    display: none;
  }

  .showcase .btn {
    width: 100%;
  }

  /* Skills */
  .skills h2 {
    margin-bottom: 15px;
  }

  .skills .grid {
    margin-bottom: 0;
  }

  .skills .category {
    padding: 40px 0;
    border-right: none;
    border-bottom: 1px solid var(--medium-gray);
  }

  .skills .category:last-of-type {
    padding: 40px 0 20px;
    border-bottom: none;
  }

  /* Work */
  .work .container {
    padding-bottom: 20px;
  }

  .work h2 {
    margin-bottom: 40px;
  }

  .work .project {
    gap: 0;
    background-color: var(--white);
    border-radius: 7.5px;
    margin: 20px 0;
    padding-bottom: 0;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }

  .project-image-lg {
    width: 100%;
  }

  .project-image-sm {
    display: none;
  }

  .project img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
  }

  .work .container-text h3 {
    text-align: left;
  }

  .work .container-text p {
    text-align: left;
  }

  #work ul {
    justify-content: flex-start;
  }

  .work .btn {
    width: 100%;
  }

  /* Other work */
  #other-work h2 {
    margin-bottom: 45px;
  }

  #other-work .grid {
    padding: 20px 0;
  }

  #other-work .btn {
    width: 100%;
  }

  /* Contact */
  .contact ul {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 320px) {
  /* Utilities */
  .container {
    padding: 0 20px;
  }

  .showcase h1 span {
    white-space: wrap;
  }
}
